# Secrets
.env

# macOS
.DS_Store

# Supabase
supabase/.temp/
server/supabase/supabase/  # CLI duplicate temp files
supabase/functions/.eslintignore

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcworkspace/
xcuserdata/

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
*.iml
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
